<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--引入db.properties <context:property-placeholder location="classpath:db.properties"/> -->

    <!--配置dataSource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.sqlite.JDBC"/>
        <property name="url" value="jdbc:sqlite:player.db"/>
        <property name="username" value=""/>
        <property name="password" value=""/>
    </bean>

    <!--配置Spring的事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--开启事务注解 transaction-manager="transactionManager" -->
    <tx:annotation-driven/>

    <!--配置SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--引入mybatis配置文件 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--扫描mapper映射文件 -->
        <property name="mapperLocations" value="/mapper/*"/>
    </bean>

    <!--配置MyBatis的Mapper扫描器 -->
    <bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定扫描包 -->
        <property name="basePackage" value="com.scmq.player.dao"/>
    </bean>

    <!--扫描service包 -->
    <context:component-scan base-package="com.scmq.player.service"/>
    <!-- 扫描controller包 -->
    <context:component-scan base-package="com.scmq.player.controller"/>
</beans>